html {
    height:100%;f
}
body {
    background-image: url("/assets/images/home/sky6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    position: relative;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Slackey', cursive;
    font-size: 60px;
    color: white;
    /** font-family: 'Shojumaru', cursive; */
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
